---
platform: linux
image_resource:
 type: docker-image
 source:
   repository: cfcontainerization/go-tools
   tag: latest
inputs:
- name: src
  path: src/code.cloudfoundry.org/cf-operator
- name: ci
outputs:
- name: env_dumps
run:
  path: ci/pipelines/tasks/test-helm-e2e.sh
